node-red/201911211836_REFERENCE.MULTIPLEX.flows_lab513-Precision-Tower-7910.json
[{"id":"f39560d6.222e9","type":"tab","label":"Multiplex","disabled":false,"info":""},{"id":"69e54c09.4e0e0c","type":"arduino-board","z":"","device":"/dev/eVOLVER09"},{"id":"a8b1c856.195658","type":"ui_group","z":"","name":"multiplex","tab":"b3aaf27b.a39d4","order":1,"disp":true,"width":"16","collapse":false},{"id":"3b6c6616.5d215a","type":"arduino-board","z":"","device":"/dev/eVOLVER10"},{"id":"6fca67f1.99a418","type":"arduino-board","z":"","device":"/dev/eVOLVER11"},{"id":"4797edb8.074744","type":"arduino-board","z":"","device":"/dev/eVOLVER16"},{"id":"d19ecf0f.89ca68","type":"arduino-board","z":"","device":"/dev/eVOLVER14"},{"id":"2dea7be5.481da4","type":"arduino-board","z":"","device":"/dev/eVOLVER01"},{"id":"e405661a.4ec29","type":"arduino-board","z":"","device":"/dev/eVOLVER02"},{"id":"c703294d.bb519","type":"arduino-board","z":"","device":"/dev/eVOLVER03"},{"id":"d90004c8.a26df","type":"arduino-board","z":"","device":"/dev/eVOLVER04"},{"id":"794eaa37.7f70c4","type":"arduino-board","z":"","device":"/dev/eVOLVER13"},{"id":"7d5d2ee0.3b3a28","type":"arduino-board","z":"","device":"/dev/eVOLVER08"},{"id":"efb161a9.c8c14","type":"arduino-board","z":"","device":"/dev/eVOLVER07"},{"id":"2395c650.766f2a","type":"arduino-board","z":"","device":"/dev/eVOLVER06"},{"id":"d8b02ace.573a08","type":"arduino-board","z":"","device":"/dev/eVOLVER05"},{"id":"5a9760ea.f33e1","type":"arduino-board","z":"","device":"/dev/eVOLVER15"},{"id":"db46c490.bfbe38","type":"arduino-board","z":"","device":"/dev/eVOLVER12"},{"id":"c83651a8.ed7a38","type":"arduino-board","z":"","device":"/dev/eVOLVER17"},{"id":"b3aaf27b.a39d4","type":"ui_tab","z":"","name":"Multiplex","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6fd7b04a.65f19","type":"arduino out","z":"f39560d6.222e9","name":"00","pin":"6","state":"PWM","arduino":"69e54c09.4e0e0c","x":470,"y":440,"wires":[]},{"id":"7cd055d9.767514","type":"inject","z":"f39560d6.222e9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"4","x":90,"y":400,"wires":[["f0d18a3e.970118"]]},{"id":"f0d18a3e.970118","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"ALL BLUE LED","tooltip":"","group":"a8b1c856.195658","order":1,"width":"14","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":440,"wires":[["e92115da.e31df8","78b860de.63b8b8","a3637f5b.01a328","7958e595.02b414","463e5a5d.682bd4","80fc77f9.2b6a58","b323458.4e888b8","7e85e126.310148","52b125f5.5516ec","22942962.4b8b96","d4730d4a.4ff068","e7d462fb.50549","3c63b519.7fc432","d2141f26.988558","32024734.bcc79","f288776c.ec0948","74ad19ee.1db048"]]},{"id":"4919daf4.6ca1e4","type":"arduino out","z":"f39560d6.222e9","name":"01","pin":"6","state":"PWM","arduino":"3b6c6616.5d215a","x":470,"y":480,"wires":[]},{"id":"ba14db93.ce213","type":"arduino out","z":"f39560d6.222e9","name":"02","pin":"6","state":"PWM","arduino":"6fca67f1.99a418","x":470,"y":520,"wires":[]},{"id":"e92115da.e31df8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"01","tooltip":"","group":"a8b1c856.195658","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":120,"wires":[["1d6259e0.bf154e"]]},{"id":"78b860de.63b8b8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"02","tooltip":"","group":"a8b1c856.195658","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":160,"wires":[["2550cb36.46f94c"]]},{"id":"a3637f5b.01a328","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"03","tooltip":"","group":"a8b1c856.195658","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":200,"wires":[["35e6bbe3.0d55f4"]]},{"id":"7958e595.02b414","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"04","tooltip":"","group":"a8b1c856.195658","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":240,"wires":[["f2356387.1a0cd8"]]},{"id":"463e5a5d.682bd4","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"05","tooltip":"","group":"a8b1c856.195658","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":280,"wires":[["d131a8ea.be284"]]},{"id":"80fc77f9.2b6a58","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"06","tooltip":"","group":"a8b1c856.195658","order":8,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":320,"wires":[["f7a516fd.3e2868"]]},{"id":"b323458.4e888b8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"07","tooltip":"","group":"a8b1c856.195658","order":9,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":360,"wires":[["fb755271.60d9d8"]]},{"id":"7e85e126.310148","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"08","tooltip":"","group":"a8b1c856.195658","order":10,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":400,"wires":[["f7267825.da8f3"]]},{"id":"52b125f5.5516ec","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"09","tooltip":"","group":"a8b1c856.195658","order":11,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":440,"wires":[["6fd7b04a.65f19"]]},{"id":"22942962.4b8b96","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"10","tooltip":"","group":"a8b1c856.195658","order":12,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":480,"wires":[["4919daf4.6ca1e4"]]},{"id":"d4730d4a.4ff068","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"11","tooltip":"","group":"a8b1c856.195658","order":13,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":520,"wires":[["ba14db93.ce213"]]},{"id":"e7d462fb.50549","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"12","tooltip":"","group":"a8b1c856.195658","order":14,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":560,"wires":[["3edefb5.0589804"]]},{"id":"3c63b519.7fc432","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"13","tooltip":"","group":"a8b1c856.195658","order":15,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":600,"wires":[["a9a116e3.eacef8"]]},{"id":"d2141f26.988558","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"14","tooltip":"","group":"a8b1c856.195658","order":16,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":640,"wires":[["4f1beace.22ec3c"]]},{"id":"32024734.bcc79","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"15","tooltip":"","group":"a8b1c856.195658","order":17,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":680,"wires":[["59373edd.2c4c58"]]},{"id":"f288776c.ec0948","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"16","tooltip":"","group":"a8b1c856.195658","order":18,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":720,"wires":[["4adc27c2.5dbc4"]]},{"id":"4adc27c2.5dbc4","type":"arduino out","z":"f39560d6.222e9","name":"08","pin":"6","state":"PWM","arduino":"4797edb8.074744","x":470,"y":720,"wires":[]},{"id":"4f1beace.22ec3c","type":"arduino out","z":"f39560d6.222e9","name":"10","pin":"6","state":"PWM","arduino":"d19ecf0f.89ca68","x":470,"y":640,"wires":[]},{"id":"1d6259e0.bf154e","type":"arduino out","z":"f39560d6.222e9","name":"04","pin":"6","state":"PWM","arduino":"2dea7be5.481da4","x":470,"y":120,"wires":[]},{"id":"2550cb36.46f94c","type":"arduino out","z":"f39560d6.222e9","name":"05","pin":"6","state":"PWM","arduino":"e405661a.4ec29","x":470,"y":160,"wires":[]},{"id":"35e6bbe3.0d55f4","type":"arduino out","z":"f39560d6.222e9","name":"06","pin":"6","state":"PWM","arduino":"c703294d.bb519","x":470,"y":200,"wires":[]},{"id":"f2356387.1a0cd8","type":"arduino out","z":"f39560d6.222e9","name":"07","pin":"6","state":"PWM","arduino":"d90004c8.a26df","x":470,"y":240,"wires":[]},{"id":"a9a116e3.eacef8","type":"arduino out","z":"f39560d6.222e9","name":"11","pin":"6","state":"PWM","arduino":"794eaa37.7f70c4","x":470,"y":600,"wires":[]},{"id":"f7267825.da8f3","type":"arduino out","z":"f39560d6.222e9","name":"12","pin":"6","state":"PWM","arduino":"7d5d2ee0.3b3a28","x":470,"y":400,"wires":[]},{"id":"fb755271.60d9d8","type":"arduino out","z":"f39560d6.222e9","name":"13","pin":"6","state":"PWM","arduino":"efb161a9.c8c14","x":470,"y":360,"wires":[]},{"id":"f7a516fd.3e2868","type":"arduino out","z":"f39560d6.222e9","name":"14","pin":"6","state":"PWM","arduino":"2395c650.766f2a","x":470,"y":320,"wires":[]},{"id":"d131a8ea.be284","type":"arduino out","z":"f39560d6.222e9","name":"15","pin":"6","state":"PWM","arduino":"d8b02ace.573a08","x":470,"y":280,"wires":[]},{"id":"59373edd.2c4c58","type":"arduino out","z":"f39560d6.222e9","name":"09","pin":"6","state":"PWM","arduino":"5a9760ea.f33e1","x":470,"y":680,"wires":[]},{"id":"3edefb5.0589804","type":"arduino out","z":"f39560d6.222e9","name":"03","pin":"6","state":"PWM","arduino":"db46c490.bfbe38","x":470,"y":560,"wires":[]},{"id":"37ae0591.5f7cda","type":"comment","z":"f39560d6.222e9","name":"BL switch","info":"","x":340,"y":80,"wires":[]},{"id":"ede109d1.3557a","type":"comment","z":"f39560d6.222e9","name":"BLpR","info":"","x":590,"y":80,"wires":[]},{"id":"ee5745d9.df087","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"69e54c09.4e0e0c","x":590,"y":440,"wires":[["fd5e2c3.befa0d"]]},{"id":"17fe50f3.3ed80f","type":"ui_chart","z":"f39560d6.222e9","name":"","group":"a8b1c856.195658","order":19,"width":"15","height":"16","label":"BL photoresistor A2","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1250","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1a82ca","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":820,"wires":[[]]},{"id":"fd5e2c3.befa0d","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":438,"wires":[["6076660c.5eeaa","bac6c703.2ff98"]]},{"id":"6076660c.5eeaa","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":28,"width":"2","height":"1","name":"09","label":"09","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":440,"wires":[]},{"id":"ae9dd38c.86c05","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"7d5d2ee0.3b3a28","x":590,"y":400,"wires":[["498c7cc6.2c454c"]]},{"id":"498c7cc6.2c454c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":398,"wires":[["dc91d265.570a5","ec16c4e3.d74ad"]]},{"id":"dc91d265.570a5","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":27,"width":"2","height":"1","name":"08","label":"08","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":400,"wires":[]},{"id":"ec16c4e3.d74ad","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"08\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":400,"wires":[["17fe50f3.3ed80f"]]},{"id":"bac6c703.2ff98","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"09\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["17fe50f3.3ed80f"]]},{"id":"5bc9f490.00ecac","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"3b6c6616.5d215a","x":590,"y":480,"wires":[["1e4be002.f09a48"]]},{"id":"1e4be002.f09a48","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":478,"wires":[["79eab58e.c6f954","5c397534.a68b64"]]},{"id":"79eab58e.c6f954","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":29,"width":"2","height":"1","name":"10","label":"10","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":480,"wires":[]},{"id":"5c397534.a68b64","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"10\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["17fe50f3.3ed80f"]]},{"id":"24385d32.ab5942","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"6fca67f1.99a418","x":590,"y":520,"wires":[["6cdb4459.7af984"]]},{"id":"6cdb4459.7af984","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":518,"wires":[["72eb3654.391b9","b250c9b6.5c62e"]]},{"id":"72eb3654.391b9","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":30,"width":"2","height":"1","name":"11","label":"11","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":520,"wires":[]},{"id":"b250c9b6.5c62e","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"11\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[["17fe50f3.3ed80f"]]},{"id":"77311d11.13f574","type":"comment","z":"f39560d6.222e9","name":"PORT","info":"","x":470,"y":80,"wires":[]},{"id":"acc49f57.e88c88","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"db46c490.bfbe38","x":590,"y":560,"wires":[["dfda9842.0152"]]},{"id":"dfda9842.0152","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":558,"wires":[["89dd9309.0d3d88","899d5fa6.86079"]]},{"id":"89dd9309.0d3d88","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":31,"width":"2","height":"1","name":"12","label":"12","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":560,"wires":[]},{"id":"899d5fa6.86079","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"12\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[["17fe50f3.3ed80f"]]},{"id":"7bd16c4b.349cf4","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"794eaa37.7f70c4","x":590,"y":600,"wires":[["26494aa5.1d89d6"]]},{"id":"26494aa5.1d89d6","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":598,"wires":[["722bae58.440728","b0e4b3cd.5d4d08"]]},{"id":"722bae58.440728","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":32,"width":"2","height":"1","name":"13","label":"13","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":600,"wires":[]},{"id":"b0e4b3cd.5d4d08","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"13\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":600,"wires":[["17fe50f3.3ed80f"]]},{"id":"71f6121d.ca5b9c","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"d19ecf0f.89ca68","x":590,"y":640,"wires":[["995fadcb.e23d68"]]},{"id":"995fadcb.e23d68","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":638,"wires":[["57190baa.75b844","ca69529f.276c38"]]},{"id":"57190baa.75b844","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":33,"width":"2","height":"1","name":"14","label":"14","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":640,"wires":[]},{"id":"ca69529f.276c38","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"14\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":640,"wires":[["17fe50f3.3ed80f"]]},{"id":"893e7582.693b9","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"5a9760ea.f33e1","x":590,"y":680,"wires":[["8cd1ee5a.2612a8"]]},{"id":"8cd1ee5a.2612a8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":678,"wires":[["41f14914.00ab18","1479e1e.f13b41e"]]},{"id":"41f14914.00ab18","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":34,"width":"2","height":"1","name":"15","label":"15","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":680,"wires":[]},{"id":"1479e1e.f13b41e","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"15\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":680,"wires":[["17fe50f3.3ed80f"]]},{"id":"46d3addf.929dd4","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"4797edb8.074744","x":590,"y":720,"wires":[["4915eb2b.21302c"]]},{"id":"4915eb2b.21302c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":718,"wires":[["a3cfaf12.88bb18","cebbf9f7.438f98"]]},{"id":"a3cfaf12.88bb18","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":35,"width":"2","height":"1","name":"16","label":"16","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":720,"wires":[]},{"id":"cebbf9f7.438f98","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"16\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":720,"wires":[["17fe50f3.3ed80f"]]},{"id":"c5b73481.6a2b78","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"efb161a9.c8c14","x":590,"y":360,"wires":[["fb63473c.403f5"]]},{"id":"fb63473c.403f5","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":358,"wires":[["7650f752.e901e8","1b1acb2c.d04bc5"]]},{"id":"7650f752.e901e8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":26,"width":"2","height":"1","name":"07","label":"07","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":360,"wires":[]},{"id":"1b1acb2c.d04bc5","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"07\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["17fe50f3.3ed80f"]]},{"id":"f9e5d3d8.bf495","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"2395c650.766f2a","x":590,"y":320,"wires":[["43ad7c54.f4f7fc"]]},{"id":"43ad7c54.f4f7fc","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":318,"wires":[["553d819e.f1e88","36ef879c.f72b38"]]},{"id":"553d819e.f1e88","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":25,"width":"2","height":"1","name":"06","label":"06","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":320,"wires":[]},{"id":"36ef879c.f72b38","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"06\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["17fe50f3.3ed80f"]]},{"id":"a70cb765.072e48","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"d8b02ace.573a08","x":590,"y":280,"wires":[["3606690f.e07c96"]]},{"id":"3606690f.e07c96","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":278,"wires":[["3cdbc959.5ecde6","79c851c4.b2fdf"]]},{"id":"3cdbc959.5ecde6","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":24,"width":"2","height":"1","name":"05","label":"05","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":280,"wires":[]},{"id":"79c851c4.b2fdf","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"05\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["17fe50f3.3ed80f"]]},{"id":"8b638e84.56eae8","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"d90004c8.a26df","x":590,"y":240,"wires":[["24090d76.83d1fa"]]},{"id":"24090d76.83d1fa","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":238,"wires":[["5c646e46.8a935","f57221d0.b466f8"]]},{"id":"5c646e46.8a935","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":23,"width":"2","height":"1","name":"04","label":"04","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":240,"wires":[]},{"id":"f57221d0.b466f8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"04\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["17fe50f3.3ed80f"]]},{"id":"7ddb56f8.1fbb9","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"c703294d.bb519","x":590,"y":200,"wires":[["a25610c7.41e3e8"]]},{"id":"a25610c7.41e3e8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":198,"wires":[["ab3ab957.d32ea8","ea0a29b3.a6194"]]},{"id":"ab3ab957.d32ea8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":22,"width":"2","height":"1","name":"03","label":"03","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":200,"wires":[]},{"id":"ea0a29b3.a6194","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"03\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["17fe50f3.3ed80f"]]},{"id":"eb1acdcc.9caaf","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"e405661a.4ec29","x":590,"y":160,"wires":[["fd67a677.e6cc68"]]},{"id":"fd67a677.e6cc68","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":158,"wires":[["fa3d4221.d5639","3fe26ecb.c1179a"]]},{"id":"fa3d4221.d5639","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":21,"width":"2","height":"1","name":"02","label":"02","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":160,"wires":[]},{"id":"3fe26ecb.c1179a","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"02\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["17fe50f3.3ed80f"]]},{"id":"b760bca4.bc297","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"2dea7be5.481da4","x":590,"y":120,"wires":[["1531660b.7d15ca"]]},{"id":"1531660b.7d15ca","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":118,"wires":[["e8b9985.f7a68e8","ede67bd2.f09d38"]]},{"id":"e8b9985.f7a68e8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":20,"width":"2","height":"1","name":"01","label":"01","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":120,"wires":[]},{"id":"ede67bd2.f09d38","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"01\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["17fe50f3.3ed80f"]]},{"id":"1e702457.a1875c","type":"comment","z":"f39560d6.222e9","name":"Temp","info":"","x":1310,"y":2580,"wires":[]},{"id":"8b324a8.175f938","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"69e54c09.4e0e0c","x":1310,"y":2940,"wires":[["8632a2a.779346"]]},{"id":"b8154c5c.66e3f","type":"ui_chart","z":"f39560d6.222e9","name":"","group":"a8b1c856.195658","order":38,"width":"15","height":"16","label":"Temperature A0","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"400","ymax":"625","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1a82ca","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1780,"y":3340,"wires":[["87d376ea.1ed818"]]},{"id":"8632a2a.779346","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2938,"wires":[["23edda48.5edf66","7549a2ef.85605c"]]},{"id":"23edda48.5edf66","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":47,"width":"2","height":"1","name":"09","label":"09","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2940,"wires":[]},{"id":"c2f33279.ce60c8","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"7d5d2ee0.3b3a28","x":1310,"y":2900,"wires":[["f82969fc.368a"]]},{"id":"f82969fc.368a","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2898,"wires":[["fc03211d.e1bcb8","40fa534.50b86ac"]]},{"id":"fc03211d.e1bcb8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":46,"width":"2","height":"1","name":"08","label":"08","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2900,"wires":[]},{"id":"40fa534.50b86ac","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"08\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2900,"wires":[["b8154c5c.66e3f"]]},{"id":"7549a2ef.85605c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"09\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2940,"wires":[["b8154c5c.66e3f"]]},{"id":"eb261234.07d3f8","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"3b6c6616.5d215a","x":1310,"y":2980,"wires":[["dc7e36ae.7b73c"]]},{"id":"dc7e36ae.7b73c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2978,"wires":[["8d0ff620.ef335","19f18dca.4e9532"]]},{"id":"8d0ff620.ef335","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":48,"width":"2","height":"1","name":"10","label":"10","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2980,"wires":[]},{"id":"19f18dca.4e9532","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"10\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2980,"wires":[["b8154c5c.66e3f"]]},{"id":"9d344a75.d88ec8","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"6fca67f1.99a418","x":1310,"y":3020,"wires":[["6643657a.c1708c"]]},{"id":"6643657a.c1708c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3018,"wires":[["90150eca.ea2be8","68fef298.2c1624"]]},{"id":"90150eca.ea2be8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":49,"width":"2","height":"1","name":"11","label":"11","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3020,"wires":[]},{"id":"68fef298.2c1624","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"11\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3020,"wires":[["b8154c5c.66e3f"]]},{"id":"408b1895.216028","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"db46c490.bfbe38","x":1310,"y":3060,"wires":[["8c60571e.9d525"]]},{"id":"8c60571e.9d525","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3058,"wires":[["f3d27661.953098","307a936.3861d6c"]]},{"id":"f3d27661.953098","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":50,"width":"2","height":"1","name":"12","label":"12","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3060,"wires":[]},{"id":"307a936.3861d6c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"12\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3060,"wires":[["b8154c5c.66e3f"]]},{"id":"df0a6215.e4dea","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"794eaa37.7f70c4","x":1310,"y":3100,"wires":[["8115685e.d279a8"]]},{"id":"8115685e.d279a8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3098,"wires":[["926969b6.8edb","c226ee19.6d3fb"]]},{"id":"926969b6.8edb","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":51,"width":"2","height":"1","name":"13","label":"13","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3100,"wires":[]},{"id":"c226ee19.6d3fb","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"13\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3100,"wires":[["b8154c5c.66e3f"]]},{"id":"5b310051.f734e","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"d19ecf0f.89ca68","x":1310,"y":3140,"wires":[["e314280d.f6cd38"]]},{"id":"e314280d.f6cd38","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3138,"wires":[["df21e657.e11d18","31852b65.6eb28c"]]},{"id":"df21e657.e11d18","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":52,"width":"2","height":"1","name":"14","label":"14","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3140,"wires":[]},{"id":"31852b65.6eb28c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"14\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3140,"wires":[["b8154c5c.66e3f"]]},{"id":"ff13929d.7a92f","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"5a9760ea.f33e1","x":1310,"y":3180,"wires":[["19455437.252a5c"]]},{"id":"19455437.252a5c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3178,"wires":[["87403e29.94b1c","5395b4af.efe7c4"]]},{"id":"87403e29.94b1c","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":53,"width":"2","height":"1","name":"15","label":"15","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3180,"wires":[]},{"id":"5395b4af.efe7c4","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"15\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3180,"wires":[["b8154c5c.66e3f"]]},{"id":"cfc0658a.9c3368","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"4797edb8.074744","x":1310,"y":3220,"wires":[["c573bc53.cfe38"]]},{"id":"c573bc53.cfe38","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3218,"wires":[["c33a3fc4.3a291","48d724fd.dd41fc"]]},{"id":"c33a3fc4.3a291","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":54,"width":"2","height":"1","name":"16","label":"16","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3220,"wires":[]},{"id":"48d724fd.dd41fc","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"16\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3220,"wires":[["b8154c5c.66e3f"]]},{"id":"91c3da13.a8f168","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"efb161a9.c8c14","x":1310,"y":2860,"wires":[["cb1eeca9.ceaff8"]]},{"id":"cb1eeca9.ceaff8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2858,"wires":[["3bc69e45.0f7a82","1a85b2de.9d6295"]]},{"id":"3bc69e45.0f7a82","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":45,"width":"2","height":"1","name":"07","label":"07","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2860,"wires":[]},{"id":"1a85b2de.9d6295","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"07\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2860,"wires":[["b8154c5c.66e3f"]]},{"id":"72de52e9.5bd294","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"2395c650.766f2a","x":1310,"y":2820,"wires":[["e6d389ef.42e408"]]},{"id":"e6d389ef.42e408","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2818,"wires":[["20d1ef07.b5cf7","2cdeb54.5ef3f4a"]]},{"id":"20d1ef07.b5cf7","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":44,"width":"2","height":"1","name":"06","label":"06","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2820,"wires":[]},{"id":"2cdeb54.5ef3f4a","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"06\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2820,"wires":[["b8154c5c.66e3f"]]},{"id":"62b75981.49085","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"d8b02ace.573a08","x":1310,"y":2780,"wires":[["737c191.f70a968"]]},{"id":"737c191.f70a968","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2778,"wires":[["e2f67233.0cacc","d582e358.3cad38"]]},{"id":"e2f67233.0cacc","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":43,"width":"2","height":"1","name":"05","label":"05","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2780,"wires":[]},{"id":"d582e358.3cad38","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"05\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2780,"wires":[["b8154c5c.66e3f"]]},{"id":"58c52d14.c8422c","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"d90004c8.a26df","x":1310,"y":2740,"wires":[["76c1d791.50acf8"]]},{"id":"76c1d791.50acf8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2738,"wires":[["b2604661.6ca668","91edbe3c.5e9a3"]]},{"id":"b2604661.6ca668","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":42,"width":"2","height":"1","name":"04","label":"04","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2740,"wires":[]},{"id":"91edbe3c.5e9a3","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"04\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2740,"wires":[["b8154c5c.66e3f"]]},{"id":"d04ebecc.d3646","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"c703294d.bb519","x":1310,"y":2700,"wires":[["9bc68560.4953e8"]]},{"id":"9bc68560.4953e8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2698,"wires":[["6165f9be.65af38","97de63bf.209138"]]},{"id":"6165f9be.65af38","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":41,"width":"2","height":"1","name":"03","label":"03","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2700,"wires":[]},{"id":"97de63bf.209138","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"03\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2700,"wires":[["b8154c5c.66e3f"]]},{"id":"533f7235.e0649c","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"e405661a.4ec29","x":1310,"y":2660,"wires":[["da3fac7c.465fa"]]},{"id":"da3fac7c.465fa","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2658,"wires":[["c1bdc6c9.e8c79","2b48dbe7.2a0534"]]},{"id":"c1bdc6c9.e8c79","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":40,"width":"2","height":"1","name":"02","label":"02","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2660,"wires":[]},{"id":"2b48dbe7.2a0534","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"02\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2660,"wires":[["b8154c5c.66e3f"]]},{"id":"b36b963f.a7afc8","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"2dea7be5.481da4","x":1310,"y":2620,"wires":[["8f7e3894.56db8"]]},{"id":"8f7e3894.56db8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":2618,"wires":[["7b81529d.cc29dc","a34148ed.db0d78"]]},{"id":"7b81529d.cc29dc","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":39,"width":"2","height":"1","name":"01","label":"01","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":2620,"wires":[]},{"id":"a34148ed.db0d78","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"01\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2620,"wires":[["b8154c5c.66e3f"]]},{"id":"74ad19ee.1db048","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"17","tooltip":"","group":"a8b1c856.195658","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":330,"y":760,"wires":[["41aaf68c.b96e5"]]},{"id":"41aaf68c.b96e5","type":"arduino out","z":"f39560d6.222e9","name":"16","pin":"6","state":"PWM","arduino":"c83651a8.ed7a38","x":470,"y":760,"wires":[]},{"id":"c1ef4910.3826d","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"2","state":"ANALOG","arduino":"c83651a8.ed7a38","x":590,"y":760,"wires":[["c3dd7d26.be25a8"]]},{"id":"c3dd7d26.be25a8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":728,"y":758,"wires":[["8951b79e.dc71f","4f6509f4.f56ef"]]},{"id":"8951b79e.dc71f","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":36,"width":"2","height":"1","name":"17","label":"17","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":760,"wires":[]},{"id":"4f6509f4.f56ef","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"17\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":760,"wires":[["17fe50f3.3ed80f"]]},{"id":"94bd144e.e4b708","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"0","state":"ANALOG","arduino":"c83651a8.ed7a38","x":1310,"y":3260,"wires":[["4b7e0d2f.6764bc"]]},{"id":"4b7e0d2f.6764bc","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1448,"y":3258,"wires":[["1d87a9f3.22151e","28e914c0.0a31c4"]]},{"id":"1d87a9f3.22151e","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":55,"width":"2","height":"1","name":"17","label":"17","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3260,"wires":[]},{"id":"28e914c0.0a31c4","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"17\";\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3260,"wires":[["b8154c5c.66e3f"]]},{"id":"e6e695c.e097468","type":"arduino out","z":"f39560d6.222e9","name":"00","pin":"9","state":"PWM","arduino":"69e54c09.4e0e0c","x":430,"y":2060,"wires":[]},{"id":"c76174e4.efcb58","type":"inject","z":"f39560d6.222e9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"4","x":90,"y":2020,"wires":[["5bfcece7.758d74"]]},{"id":"5bfcece7.758d74","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"ALL FAN","tooltip":"","group":"a8b1c856.195658","order":60,"width":"14","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":100,"y":2060,"wires":[["f9d409b6.42e118","91e19220.7a94a","e15d09e1.2b435","3fb017ff.639bd","6efa850e.4cf3c4","33b9de0e.d393c2","1a4793dd.f195bc","f2658105.e05998","cb7a92cb.b5d048","5cfad634.a07a4","e920febe.820658","989dfc11.e366f8","8da34ab4.e3461","f9dcb9c2.5fbc88","9ccc143.5d56768","3545324c.a061d6","898e262e.2902a"]]},{"id":"e44fba3c.7bbf48","type":"arduino out","z":"f39560d6.222e9","name":"01","pin":"9","state":"PWM","arduino":"3b6c6616.5d215a","x":430,"y":2100,"wires":[]},{"id":"ff49e4fc.3d72d","type":"arduino out","z":"f39560d6.222e9","name":"02","pin":"9","state":"PWM","arduino":"6fca67f1.99a418","x":430,"y":2140,"wires":[]},{"id":"f9d409b6.42e118","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"01","tooltip":"","group":"a8b1c856.195658","order":62,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1740,"wires":[["3e7c22a9.7116c6"]]},{"id":"91e19220.7a94a","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"02","tooltip":"","group":"a8b1c856.195658","order":63,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1780,"wires":[["91b5ab11.0aa618"]]},{"id":"e15d09e1.2b435","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"03","tooltip":"","group":"a8b1c856.195658","order":64,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1820,"wires":[["160b3caf.3b1163"]]},{"id":"3fb017ff.639bd","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"04","tooltip":"","group":"a8b1c856.195658","order":65,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1860,"wires":[["87aad69.a6149a8"]]},{"id":"6efa850e.4cf3c4","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"05","tooltip":"","group":"a8b1c856.195658","order":66,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1900,"wires":[["c4ca6ac2.36457"]]},{"id":"33b9de0e.d393c2","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"06","tooltip":"","group":"a8b1c856.195658","order":67,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1940,"wires":[["1d27adf0.c1e2c2"]]},{"id":"1a4793dd.f195bc","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"07","tooltip":"","group":"a8b1c856.195658","order":68,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1980,"wires":[["bf7549a.61d0838"]]},{"id":"f2658105.e05998","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"08","tooltip":"","group":"a8b1c856.195658","order":69,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2020,"wires":[["b608e02e.1728f"]]},{"id":"cb7a92cb.b5d048","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"09","tooltip":"","group":"a8b1c856.195658","order":70,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2060,"wires":[["e6e695c.e097468"]]},{"id":"5cfad634.a07a4","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"10","tooltip":"","group":"a8b1c856.195658","order":71,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2100,"wires":[["e44fba3c.7bbf48"]]},{"id":"e920febe.820658","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"11","tooltip":"","group":"a8b1c856.195658","order":72,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2140,"wires":[["ff49e4fc.3d72d"]]},{"id":"989dfc11.e366f8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"12","tooltip":"","group":"a8b1c856.195658","order":73,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2180,"wires":[["b345775d.b1f27"]]},{"id":"8da34ab4.e3461","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"13","tooltip":"","group":"a8b1c856.195658","order":74,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2220,"wires":[["7afb3569.6faf94"]]},{"id":"f9dcb9c2.5fbc88","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"14","tooltip":"","group":"a8b1c856.195658","order":75,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2260,"wires":[["60e1019b.7d6c58"]]},{"id":"9ccc143.5d56768","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"15","tooltip":"","group":"a8b1c856.195658","order":76,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2300,"wires":[["9d357305.671468"]]},{"id":"3545324c.a061d6","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"16","tooltip":"","group":"a8b1c856.195658","order":77,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2340,"wires":[["4e18c62b.9829a"]]},{"id":"4e18c62b.9829a","type":"arduino out","z":"f39560d6.222e9","name":"08","pin":"9","state":"PWM","arduino":"4797edb8.074744","x":430,"y":2340,"wires":[]},{"id":"60e1019b.7d6c58","type":"arduino out","z":"f39560d6.222e9","name":"10","pin":"9","state":"PWM","arduino":"d19ecf0f.89ca68","x":430,"y":2260,"wires":[]},{"id":"3e7c22a9.7116c6","type":"arduino out","z":"f39560d6.222e9","name":"04","pin":"9","state":"PWM","arduino":"2dea7be5.481da4","x":430,"y":1740,"wires":[]},{"id":"91b5ab11.0aa618","type":"arduino out","z":"f39560d6.222e9","name":"05","pin":"9","state":"PWM","arduino":"e405661a.4ec29","x":430,"y":1780,"wires":[]},{"id":"160b3caf.3b1163","type":"arduino out","z":"f39560d6.222e9","name":"06","pin":"9","state":"PWM","arduino":"c703294d.bb519","x":430,"y":1820,"wires":[]},{"id":"87aad69.a6149a8","type":"arduino out","z":"f39560d6.222e9","name":"07","pin":"9","state":"PWM","arduino":"d90004c8.a26df","x":430,"y":1860,"wires":[]},{"id":"7afb3569.6faf94","type":"arduino out","z":"f39560d6.222e9","name":"11","pin":"9","state":"PWM","arduino":"794eaa37.7f70c4","x":430,"y":2220,"wires":[]},{"id":"b608e02e.1728f","type":"arduino out","z":"f39560d6.222e9","name":"12","pin":"9","state":"PWM","arduino":"7d5d2ee0.3b3a28","x":430,"y":2020,"wires":[]},{"id":"bf7549a.61d0838","type":"arduino out","z":"f39560d6.222e9","name":"13","pin":"9","state":"PWM","arduino":"efb161a9.c8c14","x":430,"y":1980,"wires":[]},{"id":"1d27adf0.c1e2c2","type":"arduino out","z":"f39560d6.222e9","name":"14","pin":"9","state":"PWM","arduino":"2395c650.766f2a","x":430,"y":1940,"wires":[]},{"id":"c4ca6ac2.36457","type":"arduino out","z":"f39560d6.222e9","name":"15","pin":"9","state":"PWM","arduino":"d8b02ace.573a08","x":430,"y":1900,"wires":[]},{"id":"9d357305.671468","type":"arduino out","z":"f39560d6.222e9","name":"09","pin":"9","state":"PWM","arduino":"5a9760ea.f33e1","x":430,"y":2300,"wires":[]},{"id":"b345775d.b1f27","type":"arduino out","z":"f39560d6.222e9","name":"03","pin":"9","state":"PWM","arduino":"db46c490.bfbe38","x":430,"y":2180,"wires":[]},{"id":"898e262e.2902a","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"17","tooltip":"","group":"a8b1c856.195658","order":61,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":2380,"wires":[["44568e3a.bcc34"]]},{"id":"44568e3a.bcc34","type":"arduino out","z":"f39560d6.222e9","name":"16","pin":"9","state":"PWM","arduino":"c83651a8.ed7a38","x":430,"y":2380,"wires":[]},{"id":"122d55de.8fe3ca","type":"comment","z":"f39560d6.222e9","name":"Temp Control 30~552V","info":"","x":360,"y":2500,"wires":[]},{"id":"6a0eda23.1eca4c","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"480","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2620,"wires":[["767f5b9.f853324","cfcc8710.d9be68"]]},{"id":"817625dc.090838","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2620,"wires":[["6a0eda23.1eca4c"]]},{"id":"767f5b9.f853324","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"2dea7be5.481da4","x":1170,"y":2620,"wires":[]},{"id":"9628f7ed.46c338","type":"ui_chart","z":"f39560d6.222e9","name":"","group":"a8b1c856.195658","order":57,"width":"16","height":"4","label":"ONOFF heater","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.01","ymax":"1","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#292f32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":3340,"wires":[[]]},{"id":"6df280b8.552e9","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"2dea7be5.481da4","x":670,"y":2620,"wires":[["817625dc.090838"]]},{"id":"cfcc8710.d9be68","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"01\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2620,"wires":[["9628f7ed.46c338"]]},{"id":"c59b207a.b08468","type":"ui_switch","z":"f39560d6.222e9","name":"T01","label":"T01","tooltip":"","group":"a8b1c856.195658","order":80,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2620,"wires":[["6a0eda23.1eca4c"]]},{"id":"5fac62b8.6d7eb4","type":"inject","z":"f39560d6.222e9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":90,"y":2860,"wires":[["11be19b6.a03c36"]]},{"id":"5da8b7d7.d4ce3","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2660,"wires":[["cff774ff.37a338","2feffb93.84e054"]]},{"id":"6879a60e.7f01e8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2660,"wires":[["5da8b7d7.d4ce3"]]},{"id":"cff774ff.37a338","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"e405661a.4ec29","x":1170,"y":2660,"wires":[]},{"id":"80291b82.d707","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"e405661a.4ec29","x":670,"y":2660,"wires":[["6879a60e.7f01e8"]]},{"id":"2feffb93.84e054","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"02\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2660,"wires":[["9628f7ed.46c338"]]},{"id":"ef38844a.2bb0e8","type":"ui_switch","z":"f39560d6.222e9","name":"T02","label":"T02","tooltip":"","group":"a8b1c856.195658","order":81,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2660,"wires":[["5da8b7d7.d4ce3"]]},{"id":"981f20a7.f34918","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2700,"wires":[["a04ad6fc.5eeaa8","e527f4e0.742a8"]]},{"id":"859f53b8.6386c8","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2700,"wires":[["981f20a7.f34918"]]},{"id":"a04ad6fc.5eeaa8","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"c703294d.bb519","x":1170,"y":2700,"wires":[]},{"id":"ff1529ba.01a59","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"c703294d.bb519","x":670,"y":2700,"wires":[["859f53b8.6386c8"]]},{"id":"e527f4e0.742a8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"03\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2700,"wires":[["9628f7ed.46c338"]]},{"id":"416a1652.8abe2","type":"ui_switch","z":"f39560d6.222e9","name":"T03","label":"T03","tooltip":"","group":"a8b1c856.195658","order":82,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2700,"wires":[["981f20a7.f34918"]]},{"id":"6da634ff.e70254","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2740,"wires":[["280a0b8c.bdaf5c","c5342945.92d878"]]},{"id":"176faa5d.0ac4b6","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2740,"wires":[["6da634ff.e70254"]]},{"id":"280a0b8c.bdaf5c","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"d90004c8.a26df","x":1170,"y":2740,"wires":[]},{"id":"22ff2c01.e79bbc","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"d90004c8.a26df","x":670,"y":2740,"wires":[["176faa5d.0ac4b6"]]},{"id":"c5342945.92d878","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"04\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2740,"wires":[["9628f7ed.46c338"]]},{"id":"a265cca7.c4b96","type":"ui_switch","z":"f39560d6.222e9","name":"T04","label":"T04","tooltip":"","group":"a8b1c856.195658","order":83,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2740,"wires":[["6da634ff.e70254"]]},{"id":"fd8a09b1.9acb5","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2780,"wires":[["3705a9ca.9aba4e","234c0dc5.804332"]]},{"id":"e9a3d31.d096db","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2780,"wires":[["fd8a09b1.9acb5"]]},{"id":"3705a9ca.9aba4e","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"d8b02ace.573a08","x":1170,"y":2780,"wires":[]},{"id":"40a14082.7e7b","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"d8b02ace.573a08","x":670,"y":2780,"wires":[["e9a3d31.d096db"]]},{"id":"234c0dc5.804332","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"05\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2780,"wires":[["9628f7ed.46c338"]]},{"id":"22cb8b3e.da5544","type":"ui_switch","z":"f39560d6.222e9","name":"T05","label":"T05","tooltip":"","group":"a8b1c856.195658","order":84,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2780,"wires":[["fd8a09b1.9acb5"]]},{"id":"a006f153.07da","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2820,"wires":[["a78f8c92.7710d8","48279e54.00cf5"]]},{"id":"1c2e94e6.8ea30b","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2820,"wires":[["a006f153.07da"]]},{"id":"a78f8c92.7710d8","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"2395c650.766f2a","x":1170,"y":2820,"wires":[]},{"id":"26436c21.5f3934","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"2395c650.766f2a","x":670,"y":2820,"wires":[["1c2e94e6.8ea30b"]]},{"id":"48279e54.00cf5","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"06\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2820,"wires":[["9628f7ed.46c338"]]},{"id":"11654eed.ff6799","type":"ui_switch","z":"f39560d6.222e9","name":"T06","label":"T06","tooltip":"","group":"a8b1c856.195658","order":85,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2820,"wires":[["a006f153.07da"]]},{"id":"fc8d2870.f49db","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2860,"wires":[["4e702b9c.087ecc","a7e5db1a.8d13c"]]},{"id":"829499e5.4f3e78","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2860,"wires":[["fc8d2870.f49db"]]},{"id":"4e702b9c.087ecc","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"efb161a9.c8c14","x":1170,"y":2860,"wires":[]},{"id":"3b1c6bc5.ecd4ec","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"efb161a9.c8c14","x":670,"y":2860,"wires":[["829499e5.4f3e78"]]},{"id":"a7e5db1a.8d13c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"07\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2860,"wires":[["9628f7ed.46c338"]]},{"id":"47da292f.7d35b8","type":"ui_switch","z":"f39560d6.222e9","name":"T07","label":"T07","tooltip":"","group":"a8b1c856.195658","order":86,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2860,"wires":[["fc8d2870.f49db"]]},{"id":"8db5654e.6f9","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2900,"wires":[["3c0f9e3e.9237e2","19b1578f.fc571"]]},{"id":"b0e3b13a.49868","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2900,"wires":[["8db5654e.6f9"]]},{"id":"3c0f9e3e.9237e2","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"7d5d2ee0.3b3a28","x":1170,"y":2900,"wires":[]},{"id":"75bab393.1d20a4","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"7d5d2ee0.3b3a28","x":670,"y":2900,"wires":[["b0e3b13a.49868"]]},{"id":"19b1578f.fc571","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"08\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2900,"wires":[["9628f7ed.46c338"]]},{"id":"c86ad386.234818","type":"ui_switch","z":"f39560d6.222e9","name":"T08","label":"T08","tooltip":"","group":"a8b1c856.195658","order":87,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2900,"wires":[["8db5654e.6f9"]]},{"id":"7588fa6f.a4cf1c","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2940,"wires":[["172bef2e.c6d249","9fbfe93e.ffb478"]]},{"id":"d75c9b98.4e911","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2940,"wires":[["7588fa6f.a4cf1c"]]},{"id":"172bef2e.c6d249","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"69e54c09.4e0e0c","x":1170,"y":2940,"wires":[]},{"id":"22d0b12d.35d3fe","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"69e54c09.4e0e0c","x":670,"y":2940,"wires":[["d75c9b98.4e911"]]},{"id":"9fbfe93e.ffb478","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"09\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2940,"wires":[["9628f7ed.46c338"]]},{"id":"27294362.6e3cc4","type":"ui_switch","z":"f39560d6.222e9","name":"T09","label":"T09","tooltip":"","group":"a8b1c856.195658","order":88,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2940,"wires":[["7588fa6f.a4cf1c"]]},{"id":"26abf92a.2c9ff6","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":2980,"wires":[["d763ef0.578791","f8fc0805.412b78"]]},{"id":"9d7a2db1.32e3f","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":2980,"wires":[["26abf92a.2c9ff6"]]},{"id":"d763ef0.578791","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"3b6c6616.5d215a","x":1170,"y":2980,"wires":[]},{"id":"a8a3b29b.4e613","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"3b6c6616.5d215a","x":670,"y":2980,"wires":[["9d7a2db1.32e3f"]]},{"id":"f8fc0805.412b78","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"10\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2980,"wires":[["9628f7ed.46c338"]]},{"id":"25751282.a715b6","type":"ui_switch","z":"f39560d6.222e9","name":"T10","label":"T10","tooltip":"","group":"a8b1c856.195658","order":89,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":2980,"wires":[["26abf92a.2c9ff6"]]},{"id":"21ce07fa.17db2","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3020,"wires":[["243692c7.0a753e","f2ba9604.ba2bd8"]]},{"id":"3a496e38.2925f2","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3020,"wires":[["21ce07fa.17db2"]]},{"id":"243692c7.0a753e","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"6fca67f1.99a418","x":1170,"y":3020,"wires":[]},{"id":"7eb068f6.7353a8","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"6fca67f1.99a418","x":670,"y":3020,"wires":[["3a496e38.2925f2"]]},{"id":"f2ba9604.ba2bd8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"11\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3020,"wires":[["9628f7ed.46c338"]]},{"id":"ecafe9aa.f8658","type":"ui_switch","z":"f39560d6.222e9","name":"T11","label":"T11","tooltip":"","group":"a8b1c856.195658","order":90,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3020,"wires":[["21ce07fa.17db2"]]},{"id":"f9452b0a.e77eb","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3060,"wires":[["c0b3243f.16fa08","8535209f.a286c8"]]},{"id":"3f2ab5b5.0e19ca","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3060,"wires":[["f9452b0a.e77eb"]]},{"id":"c0b3243f.16fa08","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"db46c490.bfbe38","x":1170,"y":3060,"wires":[]},{"id":"a65258cd.86d2a","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"db46c490.bfbe38","x":670,"y":3060,"wires":[["3f2ab5b5.0e19ca"]]},{"id":"8535209f.a286c8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"12\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3060,"wires":[["9628f7ed.46c338"]]},{"id":"88a95cf9.542ca8","type":"ui_switch","z":"f39560d6.222e9","name":"T12","label":"T12","tooltip":"","group":"a8b1c856.195658","order":91,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3060,"wires":[["f9452b0a.e77eb"]]},{"id":"d142b44c.ea34e8","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3100,"wires":[["3d404207.417b9e","848a7de1.d9e61"]]},{"id":"ca73dc77.d9d93","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3100,"wires":[["d142b44c.ea34e8"]]},{"id":"3d404207.417b9e","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"794eaa37.7f70c4","x":1170,"y":3100,"wires":[]},{"id":"b704e3c3.78e0d","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"794eaa37.7f70c4","x":670,"y":3100,"wires":[["ca73dc77.d9d93"]]},{"id":"848a7de1.d9e61","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"13\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3100,"wires":[["9628f7ed.46c338"]]},{"id":"ec60f925.d41008","type":"ui_switch","z":"f39560d6.222e9","name":"T13","label":"T13","tooltip":"","group":"a8b1c856.195658","order":92,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3100,"wires":[["d142b44c.ea34e8"]]},{"id":"b9df6a4d.664e4","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3140,"wires":[["d848182c.cdaeb8","1e3eb1a0.fb56e6"]]},{"id":"6adf4cc0.54697c","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3140,"wires":[["b9df6a4d.664e4"]]},{"id":"d848182c.cdaeb8","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"d19ecf0f.89ca68","x":1170,"y":3140,"wires":[]},{"id":"eb5dfbf.e544788","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"d19ecf0f.89ca68","x":670,"y":3140,"wires":[["6adf4cc0.54697c"]]},{"id":"1e3eb1a0.fb56e6","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"14\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3140,"wires":[["9628f7ed.46c338"]]},{"id":"ef0d4852.b38198","type":"ui_switch","z":"f39560d6.222e9","name":"T14","label":"T14","tooltip":"","group":"a8b1c856.195658","order":93,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3140,"wires":[["b9df6a4d.664e4"]]},{"id":"205ab1f1.6cb2e6","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3180,"wires":[["1e0aac45.b4649c","b552b79b.01af78"]]},{"id":"4442bb2c.d02bbc","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3180,"wires":[["205ab1f1.6cb2e6"]]},{"id":"1e0aac45.b4649c","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"5a9760ea.f33e1","x":1170,"y":3180,"wires":[]},{"id":"fe475ab3.f868b8","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"5a9760ea.f33e1","x":670,"y":3180,"wires":[["4442bb2c.d02bbc"]]},{"id":"b552b79b.01af78","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"15\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3180,"wires":[["9628f7ed.46c338"]]},{"id":"54142ced.ef1fc4","type":"ui_switch","z":"f39560d6.222e9","name":"T15","label":"T15","tooltip":"","group":"a8b1c856.195658","order":94,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3180,"wires":[["205ab1f1.6cb2e6"]]},{"id":"69d7caae.0e235c","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3220,"wires":[["92c611e1.29aea","9c8f5e39.833558"]]},{"id":"9ae61552.0ce9f","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3220,"wires":[["69d7caae.0e235c"]]},{"id":"92c611e1.29aea","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"4797edb8.074744","x":1170,"y":3220,"wires":[]},{"id":"1d1ddbd9.c2bea4","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"4797edb8.074744","x":670,"y":3220,"wires":[["9ae61552.0ce9f"]]},{"id":"9c8f5e39.833558","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"16\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3220,"wires":[["9628f7ed.46c338"]]},{"id":"895130fc.b991c8","type":"ui_switch","z":"f39560d6.222e9","name":"T16","label":"T16","tooltip":"","group":"a8b1c856.195658","order":95,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3220,"wires":[["69d7caae.0e235c"]]},{"id":"cf10788d.5ef0f8","type":"PID","z":"f39560d6.222e9","name":"","setpoint":"552","pb":"0","ti":"900","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":890,"y":3260,"wires":[["20f20316.6b8ce4","462a149.fab1b6c"]]},{"id":"cb249a88.f51fc","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":3260,"wires":[["cf10788d.5ef0f8"]]},{"id":"20f20316.6b8ce4","type":"arduino out","z":"f39560d6.222e9","name":"Heater","pin":"4","state":"OUTPUT","arduino":"c83651a8.ed7a38","x":1170,"y":3260,"wires":[]},{"id":"d2a10a02.d7bf4","type":"arduino in","z":"f39560d6.222e9","name":"Temperature Sensor","pin":"0","state":"ANALOG","arduino":"c83651a8.ed7a38","x":670,"y":3260,"wires":[["cb249a88.f51fc"]]},{"id":"462a149.fab1b6c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"17\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3260,"wires":[["9628f7ed.46c338"]]},{"id":"3210ca56.8036de","type":"ui_switch","z":"f39560d6.222e9","name":"T17","label":"T17","tooltip":"","group":"a8b1c856.195658","order":79,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":310,"y":3260,"wires":[["cf10788d.5ef0f8"]]},{"id":"11be19b6.a03c36","type":"ui_switch","z":"f39560d6.222e9","name":"ALL HEATERS","label":"ALL HEATERS","tooltip":"","group":"a8b1c856.195658","order":78,"width":"14","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":2900,"wires":[["c59b207a.b08468","ef38844a.2bb0e8","416a1652.8abe2","a265cca7.c4b96","22cb8b3e.da5544","11654eed.ff6799","47da292f.7d35b8","c86ad386.234818","27294362.6e3cc4","25751282.a715b6","ecafe9aa.f8658","88a95cf9.542ca8","ec60f925.d41008","ef0d4852.b38198","54142ced.ef1fc4","895130fc.b991c8","3210ca56.8036de"]]},{"id":"7b44e353.e79dd4","type":"inject","z":"f39560d6.222e9","name":"","topic":"","payload":"480","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"7","x":490,"y":2560,"wires":[["2491de4c.805d7a"]]},{"id":"a4d39d32.30dcb","type":"arduino out","z":"f39560d6.222e9","name":"00","pin":"5","state":"PWM","arduino":"69e54c09.4e0e0c","x":430,"y":1280,"wires":[]},{"id":"c635a548.de4e38","type":"inject","z":"f39560d6.222e9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"4","x":90,"y":1240,"wires":[["8fb7e95d.8e1f1"]]},{"id":"8fb7e95d.8e1f1","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"ALL IR LED","tooltip":"","group":"a8b1c856.195658","order":96,"width":"14","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":1280,"wires":[["d742b9d0.dfacb","758a2642.187b3","a51c8186.7374e","4c90b80b.f33ca8","6add35f0.130e04","17635d73.754d13","24bf2504.feeff2","515e0591.9affd4","fd6a550c.66aa7","e44c8e8b.e85eb","695e5d97.2432dc","bfddb020.6b60f8","8dd73682.0466a8","9efdc157.3a075","d0a1eba5.16ce58","e7d4a0e1.6c23d","9d7236d8.3156b8"]]},{"id":"2df1bd75.630442","type":"arduino out","z":"f39560d6.222e9","name":"01","pin":"5","state":"PWM","arduino":"3b6c6616.5d215a","x":430,"y":1320,"wires":[]},{"id":"4c1bfb8f.33919c","type":"arduino out","z":"f39560d6.222e9","name":"02","pin":"5","state":"PWM","arduino":"6fca67f1.99a418","x":430,"y":1360,"wires":[]},{"id":"d742b9d0.dfacb","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"01","tooltip":"","group":"a8b1c856.195658","order":98,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":960,"wires":[["a28caf95.765ff8"]]},{"id":"758a2642.187b3","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"02","tooltip":"","group":"a8b1c856.195658","order":99,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1000,"wires":[["7157ce3a.fb3008"]]},{"id":"a51c8186.7374e","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"03","tooltip":"","group":"a8b1c856.195658","order":100,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1040,"wires":[["87001b31.98d408"]]},{"id":"4c90b80b.f33ca8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"04","tooltip":"","group":"a8b1c856.195658","order":101,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1080,"wires":[["30519088.fbeea8"]]},{"id":"6add35f0.130e04","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"05","tooltip":"","group":"a8b1c856.195658","order":102,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1120,"wires":[["fa135224.bc2748"]]},{"id":"17635d73.754d13","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"06","tooltip":"","group":"a8b1c856.195658","order":103,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1160,"wires":[["5796a2d4.5def24"]]},{"id":"24bf2504.feeff2","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"07","tooltip":"","group":"a8b1c856.195658","order":104,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1200,"wires":[["762e2430.cb64b4"]]},{"id":"515e0591.9affd4","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"08","tooltip":"","group":"a8b1c856.195658","order":105,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1240,"wires":[["36bab7b1.9b1a2"]]},{"id":"fd6a550c.66aa7","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"09","tooltip":"","group":"a8b1c856.195658","order":106,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1280,"wires":[["a4d39d32.30dcb"]]},{"id":"e44c8e8b.e85eb","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"10","tooltip":"","group":"a8b1c856.195658","order":107,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1320,"wires":[["2df1bd75.630442"]]},{"id":"695e5d97.2432dc","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"11","tooltip":"","group":"a8b1c856.195658","order":108,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1360,"wires":[["4c1bfb8f.33919c"]]},{"id":"bfddb020.6b60f8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"12","tooltip":"","group":"a8b1c856.195658","order":109,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1400,"wires":[["bbe23ac6.b25ff8"]]},{"id":"8dd73682.0466a8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"13","tooltip":"","group":"a8b1c856.195658","order":110,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1440,"wires":[["31c6f51b.e51cd2"]]},{"id":"9efdc157.3a075","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"14","tooltip":"","group":"a8b1c856.195658","order":111,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1480,"wires":[["6dd6777d.2009f"]]},{"id":"d0a1eba5.16ce58","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"15","tooltip":"","group":"a8b1c856.195658","order":112,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1520,"wires":[["2990d898.7f49d8"]]},{"id":"e7d4a0e1.6c23d","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"16","tooltip":"","group":"a8b1c856.195658","order":113,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1560,"wires":[["c3e60a4d.c2a8d"]]},{"id":"c3e60a4d.c2a8d","type":"arduino out","z":"f39560d6.222e9","name":"08","pin":"5","state":"PWM","arduino":"4797edb8.074744","x":430,"y":1560,"wires":[]},{"id":"6dd6777d.2009f","type":"arduino out","z":"f39560d6.222e9","name":"10","pin":"5","state":"PWM","arduino":"d19ecf0f.89ca68","x":430,"y":1480,"wires":[]},{"id":"a28caf95.765ff8","type":"arduino out","z":"f39560d6.222e9","name":"04","pin":"5","state":"PWM","arduino":"2dea7be5.481da4","x":430,"y":960,"wires":[]},{"id":"7157ce3a.fb3008","type":"arduino out","z":"f39560d6.222e9","name":"05","pin":"5","state":"PWM","arduino":"e405661a.4ec29","x":430,"y":1000,"wires":[]},{"id":"87001b31.98d408","type":"arduino out","z":"f39560d6.222e9","name":"06","pin":"5","state":"PWM","arduino":"c703294d.bb519","x":430,"y":1040,"wires":[]},{"id":"30519088.fbeea8","type":"arduino out","z":"f39560d6.222e9","name":"07","pin":"5","state":"PWM","arduino":"d90004c8.a26df","x":430,"y":1080,"wires":[]},{"id":"31c6f51b.e51cd2","type":"arduino out","z":"f39560d6.222e9","name":"11","pin":"5","state":"PWM","arduino":"794eaa37.7f70c4","x":430,"y":1440,"wires":[]},{"id":"36bab7b1.9b1a2","type":"arduino out","z":"f39560d6.222e9","name":"12","pin":"5","state":"PWM","arduino":"7d5d2ee0.3b3a28","x":430,"y":1240,"wires":[]},{"id":"762e2430.cb64b4","type":"arduino out","z":"f39560d6.222e9","name":"13","pin":"5","state":"PWM","arduino":"efb161a9.c8c14","x":430,"y":1200,"wires":[]},{"id":"5796a2d4.5def24","type":"arduino out","z":"f39560d6.222e9","name":"14","pin":"5","state":"PWM","arduino":"2395c650.766f2a","x":430,"y":1160,"wires":[]},{"id":"fa135224.bc2748","type":"arduino out","z":"f39560d6.222e9","name":"15","pin":"5","state":"PWM","arduino":"d8b02ace.573a08","x":430,"y":1120,"wires":[]},{"id":"2990d898.7f49d8","type":"arduino out","z":"f39560d6.222e9","name":"09","pin":"5","state":"PWM","arduino":"5a9760ea.f33e1","x":430,"y":1520,"wires":[]},{"id":"bbe23ac6.b25ff8","type":"arduino out","z":"f39560d6.222e9","name":"03","pin":"5","state":"PWM","arduino":"db46c490.bfbe38","x":430,"y":1400,"wires":[]},{"id":"cfeb9aa3.8218e8","type":"comment","z":"f39560d6.222e9","name":"IR switch","info":"","x":300,"y":920,"wires":[]},{"id":"f53a0965.1f7e9","type":"comment","z":"f39560d6.222e9","name":"BLpR","info":"","x":550,"y":920,"wires":[]},{"id":"b3a6184b.94cbc","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"69e54c09.4e0e0c","x":550,"y":1280,"wires":[["7aebaac8.d37884"]]},{"id":"74a75b18.1df85c","type":"ui_chart","z":"f39560d6.222e9","name":"","group":"a8b1c856.195658","order":114,"width":"15","height":"16","label":"IR photoDiode A1","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"850","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1a82ca","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":1680,"wires":[["33137672.9e0d22"]]},{"id":"7aebaac8.d37884","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1278,"wires":[["5b2218b4.05d2c8","a899b9b3.2d8ac8"]]},{"id":"5b2218b4.05d2c8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":123,"width":"2","height":"1","name":"09","label":"09","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1280,"wires":[]},{"id":"cf902d22.9df82","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"7d5d2ee0.3b3a28","x":550,"y":1240,"wires":[["aeb97a61.60c67"]]},{"id":"aeb97a61.60c67","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1238,"wires":[["4f333a47.7ec004","d34e8322.e57f6"]]},{"id":"4f333a47.7ec004","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":122,"width":"2","height":"1","name":"08","label":"08","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1240,"wires":[]},{"id":"d34e8322.e57f6","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"08\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1240,"wires":[["74a75b18.1df85c"]]},{"id":"a899b9b3.2d8ac8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"09\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1280,"wires":[["74a75b18.1df85c"]]},{"id":"5ddd9e6d.731a9","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"3b6c6616.5d215a","x":550,"y":1320,"wires":[["99da3e9c.64532"]]},{"id":"99da3e9c.64532","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1318,"wires":[["1936e76.134c019","f0e74c88.2847c"]]},{"id":"1936e76.134c019","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":124,"width":"2","height":"1","name":"10","label":"10","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1320,"wires":[]},{"id":"f0e74c88.2847c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"10\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1320,"wires":[["74a75b18.1df85c"]]},{"id":"a8a0abeb.7803","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"6fca67f1.99a418","x":550,"y":1360,"wires":[["f00745e8.1b475"]]},{"id":"f00745e8.1b475","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1358,"wires":[["2f703dd6.0a13ca","2ef7a31b.229074"]]},{"id":"2f703dd6.0a13ca","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":125,"width":"2","height":"1","name":"11","label":"11","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1360,"wires":[]},{"id":"2ef7a31b.229074","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"11\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1360,"wires":[["74a75b18.1df85c"]]},{"id":"2602cfee.f6652","type":"comment","z":"f39560d6.222e9","name":"PORT","info":"","x":430,"y":920,"wires":[]},{"id":"73a668e9.c64fa","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"db46c490.bfbe38","x":550,"y":1400,"wires":[["38ff735b.80fb04"]]},{"id":"38ff735b.80fb04","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1398,"wires":[["62024cd7.283034","7b05a5b7.1832e4"]]},{"id":"62024cd7.283034","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":126,"width":"2","height":"1","name":"12","label":"12","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1400,"wires":[]},{"id":"7b05a5b7.1832e4","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"12\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1400,"wires":[["74a75b18.1df85c"]]},{"id":"88b8b3a5.62e408","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"794eaa37.7f70c4","x":550,"y":1440,"wires":[["32c03913.58b6be"]]},{"id":"32c03913.58b6be","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1438,"wires":[["531d2a80.61e674","acbdfd60.ee828"]]},{"id":"531d2a80.61e674","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":127,"width":"2","height":"1","name":"13","label":"13","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1440,"wires":[]},{"id":"acbdfd60.ee828","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"13\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1440,"wires":[["74a75b18.1df85c"]]},{"id":"9a79e707.920b58","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"d19ecf0f.89ca68","x":550,"y":1480,"wires":[["fd3404a1.85455"]]},{"id":"fd3404a1.85455","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1478,"wires":[["d54899a5.f170c8","c81464f1.8f0fd8"]]},{"id":"d54899a5.f170c8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":128,"width":"2","height":"1","name":"14","label":"14","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1480,"wires":[]},{"id":"c81464f1.8f0fd8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"14\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1480,"wires":[["74a75b18.1df85c"]]},{"id":"7fa17108.005a4","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"5a9760ea.f33e1","x":550,"y":1520,"wires":[["40c3fe13.74ec"]]},{"id":"40c3fe13.74ec","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1518,"wires":[["4260563b.7cc3a","fa9a54e8.65c8b8"]]},{"id":"4260563b.7cc3a","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":129,"width":"2","height":"1","name":"15","label":"15","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1520,"wires":[]},{"id":"fa9a54e8.65c8b8","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"15\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1520,"wires":[["74a75b18.1df85c"]]},{"id":"9bb42c18.7c599","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"4797edb8.074744","x":550,"y":1560,"wires":[["16fe88e0.a6f06f"]]},{"id":"16fe88e0.a6f06f","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1558,"wires":[["90527236.62afa8","e838cf0e.afbdb"]]},{"id":"90527236.62afa8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":130,"width":"2","height":"1","name":"16","label":"16","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1560,"wires":[]},{"id":"e838cf0e.afbdb","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"16\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1560,"wires":[["74a75b18.1df85c"]]},{"id":"2e45c3a1.e1a38c","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"efb161a9.c8c14","x":550,"y":1200,"wires":[["bf49a650.d164a"]]},{"id":"bf49a650.d164a","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1198,"wires":[["365f3eca.a0c3ba","c3d847d2.692e88"]]},{"id":"365f3eca.a0c3ba","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":121,"width":"2","height":"1","name":"07","label":"07","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1200,"wires":[]},{"id":"c3d847d2.692e88","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"07\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1200,"wires":[["74a75b18.1df85c"]]},{"id":"f7d69800.6c7608","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"2395c650.766f2a","x":550,"y":1160,"wires":[["39cd3ccd.ed25fc"]]},{"id":"39cd3ccd.ed25fc","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1158,"wires":[["421004c7.e4d304","24bb83d6.c6467c"]]},{"id":"421004c7.e4d304","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":120,"width":"2","height":"1","name":"06","label":"06","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1160,"wires":[]},{"id":"24bb83d6.c6467c","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"06\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1160,"wires":[["74a75b18.1df85c"]]},{"id":"39323eba.84ebf2","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"d8b02ace.573a08","x":550,"y":1120,"wires":[["2b7de565.dbc552"]]},{"id":"2b7de565.dbc552","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1118,"wires":[["566c3c4f.7f4924","1cff2e81.902339"]]},{"id":"566c3c4f.7f4924","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":119,"width":"2","height":"1","name":"05","label":"05","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1120,"wires":[]},{"id":"1cff2e81.902339","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"05\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1120,"wires":[["74a75b18.1df85c"]]},{"id":"abb38b3c.7dc608","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"d90004c8.a26df","x":550,"y":1080,"wires":[["506b5dad.a52dd4"]]},{"id":"506b5dad.a52dd4","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1078,"wires":[["461e5828.3d5d78","cc45b818.6d7d58"]]},{"id":"461e5828.3d5d78","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":118,"width":"2","height":"1","name":"04","label":"04","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1080,"wires":[]},{"id":"cc45b818.6d7d58","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"04\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1080,"wires":[["74a75b18.1df85c"]]},{"id":"8c2ed724.54d44","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"c703294d.bb519","x":550,"y":1040,"wires":[["cbf35d7c.757868"]]},{"id":"cbf35d7c.757868","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1038,"wires":[["e27d550a.a90038","d88c4088.815948"]]},{"id":"e27d550a.a90038","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":117,"width":"2","height":"1","name":"03","label":"03","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1040,"wires":[]},{"id":"d88c4088.815948","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"03\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1040,"wires":[["74a75b18.1df85c"]]},{"id":"70e472dd.44154c","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"e405661a.4ec29","x":550,"y":1000,"wires":[["525c6091.0e6c5"]]},{"id":"525c6091.0e6c5","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":998,"wires":[["71885669.51ba3","c55a9b9c.c08238"]]},{"id":"71885669.51ba3","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":116,"width":"2","height":"1","name":"02","label":"02","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1000,"wires":[]},{"id":"c55a9b9c.c08238","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"02\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1000,"wires":[["74a75b18.1df85c"]]},{"id":"7e62b395.6f94cc","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"2dea7be5.481da4","x":550,"y":960,"wires":[["e82a946b.193538"]]},{"id":"e82a946b.193538","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":958,"wires":[["5c086e65.8e94a","a75c7345.b19298"]]},{"id":"5c086e65.8e94a","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":115,"width":"2","height":"1","name":"01","label":"01","format":"{{msg.payload}}","layout":"col-center","x":990,"y":960,"wires":[]},{"id":"a75c7345.b19298","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"01\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":960,"wires":[["74a75b18.1df85c"]]},{"id":"9d7236d8.3156b8","type":"ui_switch","z":"f39560d6.222e9","name":"","label":"17","tooltip":"","group":"a8b1c856.195658","order":97,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":1600,"wires":[["9433b16b.4e91e"]]},{"id":"9433b16b.4e91e","type":"arduino out","z":"f39560d6.222e9","name":"16","pin":"5","state":"PWM","arduino":"c83651a8.ed7a38","x":430,"y":1600,"wires":[]},{"id":"4061193f.f41c3","type":"arduino in","z":"f39560d6.222e9","name":"","pin":"1","state":"ANALOG","arduino":"c83651a8.ed7a38","x":550,"y":1600,"wires":[["e43c4c9d.bc0188"]]},{"id":"e43c4c9d.bc0188","type":"delay","z":"f39560d6.222e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":688,"y":1598,"wires":[["292bfcb.ecc6704","cb0747c0.080b98"]]},{"id":"292bfcb.ecc6704","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":131,"width":"2","height":"1","name":"17","label":"17","format":"{{msg.payload}}","layout":"col-center","x":990,"y":1600,"wires":[]},{"id":"cb0747c0.080b98","type":"function","z":"f39560d6.222e9","name":"","func":"msg.topic=\"17\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1600,"wires":[["74a75b18.1df85c"]]},{"id":"ce3416ec.0df06","type":"comment","z":"f39560d6.222e9","name":"IR switch","info":"","x":300,"y":1700,"wires":[]},{"id":"e3de24ff.8154f","type":"comment","z":"f39560d6.222e9","name":"FAN","info":"","x":430,"y":1700,"wires":[]},{"id":"87d376ea.1ed818","type":"file","z":"f39560d6.222e9","name":"","filename":"/home/lab513/Desktop/Temperatures.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1520,"y":3500,"wires":[[]]},{"id":"2491de4c.805d7a","type":"ui_numeric","z":"f39560d6.222e9","name":"","label":"Temperature set point","tooltip":"","group":"a8b1c856.195658","order":58,"width":"6","height":"1","passthru":true,"topic":"setpoint","format":"{{value}}","min":"300","max":"600","step":"1","x":680,"y":2560,"wires":[["6a0eda23.1eca4c","5da8b7d7.d4ce3","981f20a7.f34918","6da634ff.e70254","fd8a09b1.9acb5","a006f153.07da","fc8d2870.f49db","8db5654e.6f9","7588fa6f.a4cf1c","26abf92a.2c9ff6","21ce07fa.17db2","f9452b0a.e77eb","d142b44c.ea34e8","b9df6a4d.664e4","205ab1f1.6cb2e6","69d7caae.0e235c","cf10788d.5ef0f8"]]},{"id":"ea50448f.1ce708","type":"comment","z":"f39560d6.222e9","name":"DONT PUT SPACERS, THEY ARE NOT CONSERVED WHEN UPDOWNLOADS","info":"","x":1480,"y":40,"wires":[]},{"id":"ab87f8a0.36ea4","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":37,"width":"14","height":"1","name":"BL spacer","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":80,"wires":[]},{"id":"8c0645c3.cb88b","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":56,"width":"14","height":"1","name":"Temp spacer","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1710,"y":120,"wires":[]},{"id":"5c08e656.a72af8","type":"ui_text","z":"f39560d6.222e9","group":"a8b1c856.195658","order":59,"width":"10","height":"1","name":"Temp spacer2","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1720,"y":160,"wires":[]},{"id":"33137672.9e0d22","type":"file","z":"f39560d6.222e9","name":"","filename":"/home/lab513/Desktop/Caliballfiles.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1310,"y":1760,"wires":[[]]}]